<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.amrone.cgv">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.amrone.cgv.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.amrone.cgv.DetailActivity"
            android:label="@string/app_name_detail"
            android:parentActivityName="org.amrone.cgv.MainActivity" />
        <activity android:name="org.amrone.cgv.Login" />
        <activity android:name="org.amrone.cgv.Register" />
        <activity android:name="org.amrone.cgv.User"></activity>
    </application>

</manifest>